/*
*
* Author: Isuru Abeysekara
* Description: Styling for the Secrets Web App
*
*/
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.col-cj {
  flex: 100%;
  max-width: 100%;
}

.container2 {
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
}

.taskcontainer{
  margin-right: auto;
  margin-lefT: auto;
}

.left {
  width: 20%;
  float: left:
}

.right {
  width: 60%;
  float: left;
}
